@font-face {
  font-family: 'Avenir Next';
  src: url("/fonts/Avenir/AvenirNext-Regular.ttf");
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("/fonts/Avenir/AvenirNext-DemiBold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: auto;
}